extends layout

block content
  section.admin-edit
    .row
      .small-10.medium-6.small-centered.columns
        h1.center-title Edit Shift
    form(method="POST" action="/admin/edit" role="form")
      .row
        .small-10.medium-6.small-centered.columns
          label
          | Shifts
          select(name="id")
            each shift in shifts
              option(value="#{shift._id}") #{shift.date} #{shift.shift}
      .row
        .small-10.medium-6.small-centered.columns.center-title
          button(type="submit") Submit
    .row
      .small-10.medium-6.small-centered.columns
        h1.center-title Delete Employee
    .row
      .small-10.medium-6.small-centered.columns
        each employee in employees
          .employee-selection
            .row
              .small-9.columns
                h1.employee #{employee.firstName.charAt(0).toUpperCase() + employee.firstName.slice(1)} #{employee.lastName.charAt(0).toUpperCase() + employee.lastName.slice(1) }
              .small-3.columns
                button(type="submit" href='/admin/edit/#{employee._id}' data-id="#{employee._id}" class='edit delete-btn') Delete
            hr

append scripts
  script(src="/js/libs/datepicker.js")
  script(src="/js/xhr.js")
